<h3>this is additional information about this particular author</h3>

<p>Stephen Edwin King (born September 21, 1947) is an American author of horror, supernatural fiction, suspense, science fiction, and fantasy.
  His books have sold more than 350 million copies,[2] many of which have been adapted into feature films, miniseries, television series, and comic books.
  King has published 54 novels, including seven under the pen name Richard Bachman, and six non-fiction books.
  He has written around 200 short stories, most of which have been collected in book collections.</P>
