{{!-- The following component displays Ember's default welcome message. --}}
<h1>Welcome from Windows screen</h1>
{{outlet}}
{{!-- Feel free to remove this! --}}
<footer>
this is a simple example of Ember app
</footer>
